@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.TestBox1 {
  border: red 2px solid;
}

.TextBox2 {
  border: green 2px solid;
}

.TextBox3 {
  border: blue 2px solid;
}

.TextBox4 {
  border: purple 2px solid;
}

/* Image preview max height */
    .preview-image {
      max-height: 300px;
      object-fit: contain;
    }

    /* Bigger sliders */
    input[type="range"] {
      width: 100%;
      height: 8px;
    }

    .slider-wrapper {
      padding: 0.5rem;
    }
    #palette-preview {
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 6px;
  background: #fafafa;
}
/* Pallet preview css*/
.palette-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.color-block {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
}