<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Pixelfy Images</title>
    <script  src="/static/index.js"></script>

    <link rel="stylesheet" href="/static/main.css"/>
    
  </head>
  <body>
    <div class="TestBox1 flexbox">
      <h1>Pixelfy Your Images</h1>
      <p>Upload an image to apply the Pixel filter.</p>
      <button id="resetButton" class="btn" >Reset Values</button>
      <form class="containerFlex formbox TextBox2" method="post" enctype="multipart/form-data">
        <div class=" TextBox3">
          <div style="position: relative;">
             <label for="file" class="custom-file-upload">
              <span id="file-name"> Choose File</span>
            </label><input type="file" id="file" name="file" onchange="displayFileName(this)" multiple="false" />
          </div>
          
          <div class="slider-cont">
            <label for="brightness">Brightness: <span id="brightness_output"></span></label>
            <input
              type="range"
              step="0.01"
              max="2"
              min="0"
              id="brightness"
              name="brightness"
              class="sliderStyle"
              value="{{bright_value}}"
            />
            
          </div>

          <div class="slider-cont">
            <label for="contrast">Contrast:<span id="contrast_output"></span></label>
            <input
              type="range"
              step="0.01"
              max="2"
              min="0"
              id="contrast"
              class="sliderStyle"
              name="contrast"
              value="{{contrast_value}}"
            />
          </div>

          <div class="slider-cont">
            <label for="steps">Bits Steps:</label>
            <input
              type="number"
              step="1"
              max="256"
              min="1"
              id="steps"
              name="steps"              
              value="{{step_value}}"
            />
          </div>
          <div class="slider-cont">
            <label for="dither_op">Dither Strength: <span id="dither_output"></span></label>
            <input
              type="range"
              step="0.01"
              max="1"
              min="0"
              id="dither_op"
              class="sliderStyle"
              name="dither_op"              
              value="{{dither_value}}"/>
          </div>
          <div class="slider-cont">
            <label for="pixel_size">Pixelart Width Size: <span id="pixel_output"></span> PX</label>
            <input
              type="range"
              step="1"
              max="350"
              min="30"
              id="pixel_size"
              class="sliderStyle"
              name="pixel_size"              
              value="{{pixel_size}}"
            />
          </div>

          <div class="radio-cont">
             <label for="grayscale">Set to Grayscale</label>
            <input type="radio" id="grayscale" name="grayscale"
            value="grayscale" {% if grayscale_value == "grayscale" %} checked {% endif %} onchange="handleRadioChange()" 
            />
          </div>
         
          <div class="radio-cont">
            <label for="color-stat">Set to Colors</label>
            <input type="radio" id="colors" name="grayscale"
            value="colors" {% if grayscale_value == "colors" %} checked {% endif %} onchange="handleRadioChange()"
            />
          </div>

          <div id="options-box" {% if  grayscale_value == "colors": %} style="display: block " {% else %} style="display: none " {% endif %} >
            <label for="select-option" name="colors">Select Pallet:</label>
            <select id="select-option"  name="colors" value="{{color_value}}">              
              {% for option in color_list %}
                <option value="{{ option }}" {% if color_value == option: %} selected {% endif %} >{{ option }}</option>
              {% endfor %}
            </select>
          </div>
          

          <input type="submit" value="Upload" class="btn" />
        </div>
        <div class="flexbox TextBox4">
            <h2>Processed Image:</h2>
            {% if img_data %}
            <img
              src="data:image/jpeg;base64,{{ img_data }}"
              id="img-upload"
              alt="img_data"
              class="img-upload"
            />
            {% endif %}
          </div>
      </form>
    </div>
   
  </body>
</html>
